<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="register-container">
        <h1>ACCOUNT PREVIEW</h1>
        <h2>Dit was om te testen of ik de content dynamisch kon krijgen</h2>
        <!-- <p>firstname: <%= account.name %></p> -->
        <!-- <p>email: <%= account.email %></p> -->
    </div>
</body>
</html>