<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="register-container">
        <h1>ACCOUNT PREVIEW</h1>
        <p>Jouw naam: <%= account.name %></p>
        <p>Jouw email: <%= account.email %></p>
    </div>
</body>
</html>