<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <main>
        <p>Progressive disclosure moet op deze pagina nog toegepast worden voor FE</p>
        <div class="register-container">
            <form method="post" action="/register" enctype="multipart/form-data">
                <fieldset>
                    <h1>MAKE ACCOUNT</h1>
                    <label for="name">First Name</label>
                    <input type="text" name="firstName" id="name" maxlength="25" required>
                
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">

<!--                     <div class="btn-next-container">
                        <button type="button" class="btn-next">Next</a>
                    </div> -->
                </fieldset>

                <fieldset>
                    <h1>LET'S BEGIN</h1>
                    <label for="birthday">Birthday</label>
                    <input type="date" name="birthday" id="birthday">

                    <label for="gender">Your Gender</label>
                    <ul class="gender-container">
                        <li>
                            <input type="radio" id="male" name="gender" value="male" required>
                            <label for="male">Male</label>
                        </li>

                        <li>
                            <input type="radio" id="female" name="gender" value="female" required>
                            <label for="female">Female</label>
                        </li>
                    </ul>

                    <label for="preference">Looking for</label>
                    <ul class="gender-container">
                        <li>
                            <input type="checkbox" id="pref-male" name="preference" value="male">
                            <label for="pref-male">Male</label>
                        </li>

                        <li>
                            <input type="checkbox" id="pref-female" name="preference" value="female">
                            <label for="pref-female">Female</label>
                        </li>
                    </ul>

<!--                     <div class="btn-next-container">
                        <button type="button" class="btn-next">Next</a>
                    </div> -->
                </fieldset>

                <fieldset>
                    <h1>PROFILE PICTURE</h1>
                    <label for="profilePicture"></label>
                    <input type="file" id="img" name="profilePicture" accept="image/*" required>
<!-- 
                    <div class="btn-next-container">
                        <button type="button" class="btn-next">Next</a>
                    </div> -->
                </fieldset>

                <fieldset>
                    <h1>DESCRIBE YOURSELF</h1>
                    <label for="description">Describe yourself</label>
                    <textarea name="description" rows="6" cols="50" required></textarea>

                    <div class="btn-next-container">
                        <button type="submit" class="btn-next">Nex</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
    <script type="text/javascript"></script>
</body>
</html>