<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="register-container">
        <a href="/register"><img src="img/arrow.png"></a>

        <form action="#" method="post">
            <h1>LET'S BEGIN</h1>
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday" id="birthday" required>

            <label for="gender">Your Gender</label>
            <ul class="gender-container">
                <li>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                </li>

                <li>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </li>
            </ul>

            <label for="preference">Looking for</label>
            <ul class="gender-container">
                <li>
                    <input type="checkbox" id="pref-male" name="preference" value="pref-male">
                    <label for="pref-male">Male</label>
                </li>

                <li>
                    <input type="checkbox" id="pref-female" name="preference" value="pref-female">
                    <label for="pref-female">Female</label>
                </li>
            </ul>

            <div class="btn-next-container">
                <a class="btn-next" href="/register-three">Next</a>
            </div>
        </form>
    </div>
</body>
</html>