<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <main>
        <div class="register-container">
            <form method="post" action="/account-preview">
                <h1>MAKE ACCOUNT</h1>
                <label for="name">First Name</label>
                <input type="text" name="firstName" id="name" maxlength="25" required>
            
                <label for="email">Email</label>
                <input type="email" name="email" id="email">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <div class="btn-next-container">
                    <button class="btn-next">Next</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>