<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <div class="register-container">
        <a href="/register-two"><img src="img/arrow.png"></a>
        
        <form action="#" method="post">
            <h1>MORE INFO</h1>
            <label for="name">Dit moet ik nog verder uitwerken</label>
            <input type="text" name="name" id="name" maxlength="25" required>

            <div class="btn-next-container">
                <a class="btn-next" href="/register">Toppie</a>
            </div>
        </form>
    </div>
</body>
</html>