<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <%- include('header'); -%>
    <main>
        <div class="register-container">
            <form method="post" action="/account-preview">
                <fieldset>
                    <h1>TRY HARDER</h1>
                    <label for="description">Tell people a bit more about yourself</label>
                    <textarea name="description" rows="6" cols="50" required><%= description.description %></textarea>

                    <div class="btn-next-container">
                        <button type="submit" class="btn-next">Next</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
    <script type="text/javascript"></script>
</body>
</html>