body {
    font-family: helvetica;
    max-width: 1200px;
    margin: 50px auto 0;
    /*background-color: #fffaed;*/
}

li {
	font-weight: 300;
	list-style-type: none;
	margin: 5px 0;
}

a {
	color: black;
}

a:hover {
	color: orange;
	transition: all 0.5s;
}

footer {
	background-color: #fffaed;
	margin-top: 200px;
	width: 100%;
	margin: auto;
	height: 60px;
}

footer p {
	font-weight: 200;
}