* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100vw;
}

body {
	font-family: montserrat, helvetica;
	background-image: url(../img/pink-circles.png);
	background-repeat: no-repeat;
	background-position: center top;
}

header {
	width: 100%;
	background-color: #ffff;
	height: 50px;
	box-shadow: 0 0.2rem 0.6rem rgba(0,0,0,.15);
	padding: 6px 30px;
}

main {
	padding: 0 20px;
}

.register-main {
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

form {
  width: 100%;
}

label {
  margin: 20px 0 0;
  display: inline-block;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
}

h1 + label{
  margin-top: 0;
}

fieldset {
  border: 0px solid #DCDCDC;
  margin: 20px 30px 30px;
  padding: 0 0 20px 0;
}

input, 
textarea {
  display: block;
  background-color: #F5F6F7;
  border: 1px solid #DCDCDC;
  width: 100%;
  margin: 5px 0 0;
  padding: 10px 10px;
  font-size: 0.8em;
  color: #5c5c5c;
  resize: none;
}

input:focus {
  outline: none;
  color: black;
}

input[type="radio"], 
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  margin: 5px 20px 0 0;
  border: 1px solid #b5b5b5;
  color: #b5b5b5;
  padding: 10px 10px;
}

input[type="radio"]:checked + label, 
input[type="checkbox"]:checked + label {
  border: 1px solid #ff2453;
  color: #ff2453;
  transition: 0.5s all;
}

label + input[type="file"] {
  background-color: #FFF;
  width: 100%;
  padding: 10px 10px;
  font-size: 0.8em;
  color: #5c5c5c;
  resize: none;
}

header img {
  height: 100%;
}

.register-container {
  background: white;
  margin: 10vh auto 50px;
  min-height: 500px;
  box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15);
  width: 100%;
  max-width: 400px;
  padding-bottom: 80px;
  position: relative;
}

.succes-page {
  padding: 30px;
}

.gender-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.btn-next-container,
.btn-submit-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.btn-next {
  background-color: #FF0066;
  color: white;
  font-size: 1em;
  font-family: montserrat, helvetica;
  text-decoration: none;
  padding: 10px 30px;
  border: 0;
  border-radius: 100px;
  display: inline-block;
}

.btn-next:hover {
  background-color: #ab004b;
  color: #FFF;
  transition: 0.6s all;
}

.btn-next:focus {
  outline: none;
}

.btn-previous {
  background-color: #FFF;
  color: #b5b5b5;
  font-size: 1em;
  font-family: montserrat, helvetica;
  text-decoration: none;
  padding: 8px 28px;
  border: 1px solid #b5b5b5;
  border-radius: 100px;
  display: inline-block;
}

.profile-info {
  margin-bottom: 5px;
}

.delete-button {
  color: red;
  font-size: 1em;
  font-family: montserrat, helvetica;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 100px;
  margin-top: 30px;
  background-color: #FFF;
}

.delete-button:hover {
  border: 1px solid red;
  transition: 1s all;
}

.succes-icon {
  width: 50%;
  margin: 30px 25% 50px;
}


.succes-page p {
  margin: 0 auto;
}

/*classes for JS to add*/
.dontDisplay {
  display: none;
}

.invalid {
  background-color: #FFF4F7;
  border: 1px solid #FF0066;
}

.errorMessage {
  color: #FF0066;
  font-size: 0.9em;
  margin-top: 3px;
  margin-bottom: 0;
}

#progress-bar {
  height: 15px;
  width: 0;
  background-color: #FF0066;
  transition: 0.8s all;
  flex-basis: 100%;
  max-width: 100%;
}